<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yangwang.application.pet.market.dao.market.pet.FleaMarketMapper">
    <select id="listByParam"
            resultMap="com.yangwang.application.pet.market.dao.market.pet.PetDetailMapper.showPetVoMap">
        SELECT
        <include refid="com.yangwang.application.pet.market.dao.market.pet.PetDetailMapper.showPetVoColumn"/>
        FROM
        t_common_pet a
        <include refid="com.yangwang.application.pet.market.dao.market.pet.PetDetailMapper.showPetVoLeftJoinTable"/>
        JOIN (
        SELECT
        pet.pet_no
        FROM t_common_pet pet
        JOIN t_business_business business ON pet.business_no = business.business_no
        WHERE
        business.auth_type = '${@com.yangwang.application.pet.market.common.enums.AuthTypeEnum@INDIVIDUAL.getType()}'
        AND business.state = '${@com.yangwang.application.pet.market.common.enums.BusinessStateEnum@NORMAL.getType()}'
        AND (
        pet.pet_state = '${@com.yangwang.application.pet.market.common.enums.OnSaleStateEnum@FOR_SALE.getType()}'
        OR
        (
        pet.pet_state = '${@com.yangwang.application.pet.market.common.enums.OnSaleStateEnum@OFF_SALE.getType()}'
        AND pet.sales_volume > 0
        )
        )
        AND pet.groupon = 0
        <if test="@org.apache.commons.lang3.StringUtils@isNotBlank(queryPetMarketListParam.city)">
            AND business.city = #{queryPetMarketListParam.city}
        </if>
        <if test="queryPetMarketListParam.startMoney != null">
            AND pet.retail_price &gt;= #{queryPetMarketListParam.startMoney}
        </if>
        <if test="queryPetMarketListParam.endMoney != null">
            AND pet.retail_price &lt;= #{queryPetMarketListParam.endMoney}
        </if>
        <if test="queryPetMarketListParam.sex != null">
            AND pet.pet_sex = #{queryPetMarketListParam.sex}
        </if>
        ORDER BY pet.power DESC
        LIMIT #{queryPetMarketListParam.offset},#{queryPetMarketListParam.limit}
        ) filter ON a.pet_no = filter.pet_no
    </select>
</mapper>