<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yangwang.application.pet.market.dao.market.item.ItemBrandMapper">
    <select id="listByParam" resultType="com.yangwang.application.pet.market.model.common.ItemBrand">
        SELECT item_brand_no, item_brand_name, item_brand_img
        FROM t_common_item_brand
        <if test="pagingQueryParam.offset != null and pagingQueryParam.limit != null">
            LIMIT #{pagingQueryParam.offset} , #{pagingQueryParam.limit};
        </if>
    </select>
</mapper>
