<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yangwang.application.pet.market.dao.market.pet.PetWormKillMapper">
    <resultMap id="petWormKill" type="com.yangwang.application.pet.market.model.common.PetWormKill">
        <id property="wormKillNo" column="worm_kill_no"/>
        <result property="pet.petNo" column="pet_no"/>
        <result property="killBrandName" column="kill_brand_name"/>
        <result property="killDate" column="kill_date"/>
    </resultMap>

    <insert id="save">
        INSERT INTO t_common_pet_worm_kill (`pet_no`, `kill_date`, `kill_brand_name`)
        VALUES (#{petWormKill.pet.petNo}, #{petWormKill.killDate}, #{petWormKill.killBrandName});
    </insert>

    <delete id="delete">
        DELETE
        FROM t_common_pet_worm_kill
        WHERE `pet_no` = #{petNo};
    </delete>

    <insert id="saveList">
        <if test="@com.yangwang.application.pet.market.common.utils.CollectionUtils@isNotEmpty(petWormKillList)">
            INSERT INTO t_common_pet_worm_kill (`pet_no`, `kill_date`, `kill_brand_name`) VALUES
            <foreach collection="petWormKillList" item="petWormKill" separator="," close=";">
                (#{petWormKill.pet.petNo}, #{petWormKill.killDate}, #{petWormKill.killBrandName})
            </foreach>
        </if>
    </insert>
    
    <select id="listByPetNo" resultMap="petWormKill">
        SELECT `worm_kill_no`, `pet_no`, `kill_date`, `kill_brand_name`
        FROM t_common_pet_worm_kill
        WHERE pet_no = #{petNo};
    </select>

</mapper>