<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yangwang.application.pet.market.dao.common.QueryPetGenreMapper">
    <select id="listByQueryParam" resultType="com.yangwang.application.pet.market.model.common.PetGenre">
        SELECT pet_genre_no, pet_genre_name, pet_sort_no, pet_genre_img
        FROM t_common_pet_genre
        WHERE pet_genre_name LIKE CONCAT('%', #{queryQueryListParam.keyWord}, '%')
        LIMIT #{queryQueryListParam.offset} , #{queryQueryListParam.limit};
    </select>
</mapper>