<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yangwang.application.pet.market.dao.market.item.ItemAppraiseImgMapper">
    <insert id="saveList">
        INSERT INTO t_market_pet_appraise_img (
        appraise_no,
        appraise_img)
        VALUES
        <foreach collection="itemAppraiseImgList" item="itemAppraiseImg" separator="," close=";">
            (#{itemAppraiseImg.itemAppraise.appraiseNo},#{itemAppraiseImg.imgAddress})
        </foreach>
    </insert>

    <delete id="deleteByAppraiseNo">
        DELETE
        FROM t_market_pet_appraise_img
        WHERE appraise_no = #{appraiseNo};
    </delete>
</mapper>
