<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yangwang.application.pet.market.dao.service.ServiceScenePicMapper">
	<insert id="insertServiceImage">

		<foreach collection="pics" item="item">

			insert into t_service_scene(service_id, scene_pic)
			values (#{item.service.serviceID}, #{item.scenePic})
		</foreach>
	</insert>
    <delete id="deleteServiceImage">
		delete from t_service_scene where service_id = #{serviceID};
	</delete>
</mapper>