<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yangwang.application.pet.market.dao.business.BusinessAccountMapper">
    <insert id="save">
        INSERT INTO t_business_account (business_no,
                                        account_type,
                                        `name`,
                                        account_num,
                                        bank_name)
        VALUES (#{businessAccount.business.businessNo},
                #{businessAccount.accountType},
                #{businessAccount.name},
                #{businessAccount.accountNum},
                #{businessAccount.bankName});
    </insert>

    <select id="listByBusinessNo" resultType="com.yangwang.application.pet.market.model.business.BusinessAccount">
        SELECT account_no, account_type, name, account_num, bank_name
        FROM t_business_account
        WHERE business_no = #{businessNo};
    </select>

    <delete id="delete">
        DELETE
        FROM t_business_account
        WHERE account_no = #{accountNo};
    </delete>
</mapper>